.home {
  .grid-heading {
    .top-content {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
      margin-bottom: 2.5rem;
    }
    .left-avatar-box {
      background: #d9d9d9;
      opacity: 0.2;
      width: 100px;
      height: 100px;
    }
    .heading {
      margin: 0;
      font-size: 1.8rem;
    }

    .subheading {
      margin: 0;
      font-size: 1rem;
    }

    .heading,
    .subheading,
    p {
      font-family: var(--dp-mono);
      color: #efe9f4;
    }

    p {
      font-size: 1rem;
      margin: 0;
    }
  }

  .grid-pages {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .block {
      border: 2px solid #fcfcfc;
      padding: 1.2rem 1rem;
      flex: 1 30%;
      h4,
      p {
        color: #efe9f4;
        font-family: var(--dp-mono);
      }
      h4 {
        margin: 0;
        font-size: 1.2rem;
      }
      p {
        margin: 0.5rem 0 0 0;
        font-size: 1rem;
      }
    }
  }
}
