@font-face {
  src: url("../webfonts/DepartureMono-Regular.otf") format("opentype"),
    url("../webfonts/DepartureMono-Regular.otf") format("opentype");
  font-family: "DEPARTURE MONO";
  font-style: normal;
}
